<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formCadastro">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
      <ng-container *ngFor="let erro of mensagens.nome">
        <span
          class="msg-erro"
          *ngIf="formCadastro.get('nome').hasError(erro.tipo) && (formCadastro.get('nome').dirty || formCadastro.get('nome').touched)"
        >
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" formControlName="telefone"></ion-input>
      <ng-container *ngFor="let erro of mensagens.telefone">
        <span
          class="msg-erro"
          *ngIf="formCadastro.get('telefone').hasError(erro.tipo) && (formCadastro.get('telefone').dirty || formCadastro.get('telefone').touched)"
        >
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-button expand="block" (click)="salvarCadastro()">Salvar</ion-button>
    <ion-button expand="block" fill="outline">Voltar</ion-button>
</form>
</ion-content>
